.container{
  width: 100%;
  height: 40vh;
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
}

.foreCast{
  height: 80%;
  padding: 1%;
}
.footer{
  border: solid lime;
  height: 20%;
}