*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) 
                  var(--secondary-bg-color);

}
*::-webkit-scrollbar {
	width: 5px; 
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: var(--secondary-bg-color);
}

*::-webkit-scrollbar-thumb {
	background: var(--primary-bg-color);
	border-radius: 15px;
	border: none;
}

/* FireFox */
*::-moz-scrollbar {
  width: thin;
}

*::-moz-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container{
  display: flex;
  width: 100%;
}

